/*

This file is property of [https://Raspb3rry.io].

*/

html {
	font-size: var(--font-defscale);
}

* {
	color: var(--color-fgprim);
	background: var(--color-bgprim);
	border: none;
	cursor: var(--cur);
	/* cursor: url(" url ") 16 16, default; */
	font-family: var(--font-prim);
	font-weight: 100;
	line-height: auto;
	list-style: none;
	margin: 0.00rem;
	/* overflow: hidden !important; */
	padding: 0.00rem;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

.err47 {
	display: var(--err47);
}

.origin {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.countdown {
	font-weight: 100;
	font-size: 900%;
	font-family: 'Allerta Stencil', sans-serif;
}

.crm {
    font-weight: 200;
    font-size: 17.40rem;
	font-family: 'Fira Sans', sans-serif;
}

/* --- Simplify and check cross ref with html. --- */

.header-stylization {
	font-size: var(--font-wip);
	font-weight: var(--font-weisec);
}

/* --- Setup Navigation --- */

.nav {
	position: sticky;
	top: 0.00rem;
	left: 50%;
	-webkit-transform: translate(-50%, 0.00rem);
    -moz-transform: translate(-50%, 0.00rem);
    -ms-transform: translate(-50%, 0.00rem);
    -o-transform: translate(-50%, 0.00rem);
    transform: translate(-50%, 0.00rem);
    background: transparent;

}

.nav-ul {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	
}

.nav-li {

}

.nav-li:hover {

}

.nav-gue {

}

/* --- Setup Header --- */

/* --- Setup Footer --- */

/* --- Setup Gue --- */